*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #141414;
    color: #eee;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 250%;;
}
h1, h2 {
    font-family: 'Kalam';
    text-align: center;
    margin-bottom: 0;
    font-weight: 800;
}
h2 {
    font-family: 'Nunito';
}
#container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}