@import url("emobounce.css");

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: #eee;
    background: transparent;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 250%;
}
#container {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 600px;
    background-color: #141414;
    position: relative;
    overflow: hidden;
}
.slide {
    position: absolute;
    inset: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
h1, h2 {
    font-family: 'Kalam';
    text-align: center;
    margin-bottom: 0;
    width: 80%;
    line-height: 100%;
    font-size: 150%;
    font-weight: 800;
}
h2 {
    font-family: 'Nunito';
    font-size: 120%;
    margin-top: 1em;
}
.number {
    font-family: 'Courier';
    font-size: 340%;
}
.bigemo {
    order: -1;
    font-size: 250%;
}

/* Equal Slide */
.equal h2 {
    margin-top: .5em;
}
.eq-text {
    display: block;
    font-size: 70%;
    opacity: 50%;
}
.eq-pref {
    display: inline-block;
    margin-left: .5em;
    opacity: 70%;
}

/* Special Slide */
.special h1:not(.bigemo) {
    font-size: 90%;
    font-family: 'Nunito';
}
.special .amount {
    opacity: 70%;
    font-size: 80%;
}
.special .thing {
    font-size: 120%;
    font-family: 'Kalam';
}

/* List Slides */
li {
    display: flex;
    gap: .7em;
    align-items: center;
    margin-bottom: .14em;
}
.amt {
    font-family: 'Courier';
    font-weight: bold;
    font-size: 110%;
    width: 3.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goal > .amt {
    width: 1.4em;
    justify-content: end;
}
.dol {
    font-size: 70%;
    opacity: 50%;
    font-style: italic;
    font-family: 'Nunito';
    justify-self: flex-start;
}
.tkn {
    display: none;
}
.emo {
    font-size: 107%;
}