*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: #eee;
    background: transparent;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 250%;
}
#container {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 600px;
    /* background-color: #0a0a0a; */
    position: relative;
    overflow: hidden;
}
.slide {
    position: absolute;
    inset: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
h1 {
    font-family: 'Kalam';
    text-align: center;
    margin-bottom: 0;
    font-size: 140%;
    font-weight: 800;
}
li {
    display: flex;
    gap: .7em;
    align-items: center;
    margin-bottom: .14em;
}
.amt {
    font-family: 'Courier';
    font-weight: bold;
    font-size: 110%;
    width: 3.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goal > .amt {
    width: 1.4em;
    justify-content: end;
}
.dol {
    font-size: 70%;
    opacity: 50%;
    font-style: italic;
    font-family: 'Nunito';
    justify-self: flex-start;
}
.tkn {
    display: none;
}
.emo {
    font-size: 107%;
}

/* Fading animation */
/* .fade {
    animation-name: fade;
    animation-duration: 10000ms;
}
@keyframes fade {
    0% { opacity: 0; }
    15%, 85% { opacity: 1; }
    100% { opacity: 0; }
} */

/* Pushing animation */
/* .push {
    animation-name: push;
    animation-duration: 10000ms;
}
@keyframes push {
    0% { opacity: 0; transform: translateY(100vh); }
    15%, 85% { opacity: 1; transform: none; }
    100% { opacity: 0; transform: translateY(-100vh); }
} */

/* Fade IN, Push OUT animation */
/* .fadepush {
    animation-name: fadepush;
    animation-duration: 10000ms;
}
@keyframes fadepush {
    0% { opacity: 0; transform: none; }
    15%, 85% { opacity: 1; transform: none; }
    100% { opacity: 0; transform: translateY(-100vh); }
} */

/* Push IN, Fade OUT animation */
/* .pushfade {
    animation-name: pushfade;
    animation-duration: 10000ms;
}
@keyframes pushfade {
    0% { opacity: 0; transform: translateY(100vh); }
    15%, 85% { opacity: 1; transform: none; }
    100% { opacity: 0; transform: none; }
} */